<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.modules.uaslogistics.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rt.modules.uaslogistics.entity.Order">
        <id column="id" property="id" />
        <result column="goods_weight" property="goodsWeight" />
        <result column="start_address" property="startAddress" />
        <result column="end_address" property="endAddress" />
    </resultMap>

</mapper>
